<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/predict" method="post">
        <input type="number" name="MedInc" placeholder="Median Income" required><br>
        <input type="number" name="HouseAge" placeholder="House Age" required><br>
        <input type="number" name="AveRooms" placeholder="Average Rooms" required><br>
        <input type="number" name="AveBedrms" placeholder="Average Bedrooms" required><br>
        <input type="number" name="Population" placeholder="Population" required><br>
        <input type="number" name="AveOccup" placeholder="Average Occupants" required><br>
        <input type="number" name="Latitude" placeholder="Latitude" required><br>
        <input type="number" name="Longitude" placeholder="Longitude" required><br>
        <button type="submit">Submit</button>
    </form>    
    <br>
    <br>
    {{ prediction_text }}
</body>
</html>